<div class="container">
    <div class="row offset-md-1" style="margin-top: 4px">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <div class="box">
                    <img class="card-img-top" src="http://localhost:8085//showImage/{{product.imagePath}}"
                        alt="Card Image" />
                </div>
                <div class="card-body">
                    <p><b>{{product.productName}}</b></p>
                </div>

                <div class="row">
                    <div class="col">
                        <div>{{product.price | currency:"INR"}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div>{{product.availability}}</div>
                    </div>
                    <div class="col">
                        <div> <button class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>