<h1>Your Account</h1>
<div align="center">
    <a href=""> <img src="assets/Images/yourorder.jpg">
        <h2> Your Orders </h2>
        <div><span class="a-color-secondary">Track, return, or buy things again</span></div>
    </a>
</div><br />

<div align="center">
    <a href=""><img
            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png">
        <h2>
        <div><span class="a-color-secondary"><a [routerLink]="[ '/', 'editcustomerdetails' ]" routerLinkActive="active">
                    Edit your details</a></span>
        </div></h2>
    </a>
</div> <br/><br/><br/>